html, body {
	height:100%;
}

.title {
	background-color:gray;
	background: url('../img/bg.png') no-repeat center center;
	background-size: cover;
	margin: -15px -20px -15px -20px;
	padding:20%;
	height:100%;
}

.title h1 {
	color:white;
}

.ui-page {
    min-height: 100%;
}

.cards {
	background-color:white;
	padding: 10px;
	-webkit-box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    1px 1px 5px rgba(50, 50, 50, 0.75);
	box-shadow:         1px 1px 5px rgba(50, 50, 50, 0.75);
}

.cards p {
	color:black !important;
}

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 320px;
	height: 480px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}