.title {
	background-color:gray;
	background: url('../img/bg.png') no-repeat center center;
	background-size: cover;
	margin: -15px -20px -15px -20px;
	padding:20%;
}

.title h1 {
	color:white;
}

.ui-page {
    min-height: 100%;
}